<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/script.js"></script>

     <title>Pi Visualization</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">
        <img src="/static/PiLogo.png" class="d-inline-block align-top" width="30" height="30" alt="">

        Pi Visualization</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/aboutus">About Us</a>
      </div>
    </div>
    </nav>

    <div class="container-fluid" style="background:black;height:100vh;">
      <div class="row" style="height:100vh;">
        <div class="col align-self-center" data-aos="fade" data-aos-duration="1400" style="text-align:center;color:white;">
          <!-- <h1 style="font-size:65vw;z-index:-1000000000000000000000000;">3.14</h1> -->
        <h1> Time to see some Pi. </h1>
        </div>
      </div>
    </div>

<div id="piBackground" class="container-fluid" style="background:white;overflow:hidden;">
  <div class="row" style="height:100vh;">
    <div class="col align-self-center"  data-aos="fade-up" data-aos="fade-out" style="text-align:center;" id="trigger-right">
      <h1 id="pi_numbers" class="text-break" style="font-size:2.7;">This is Pi like you've seen it before.</h1>
    </div>
  </div>
  <!-- potentially bring this functionality back -->
  <!-- <div class="row" style="height:10px;" data-aos="fade-right"
        data-aos-anchor="#trigger-right"
       data-aos-anchor-placement="top-center"
  >
    <div class="col" id="first" style="background:rgb(34, 116, 255);">
    </div>
    <div class="col" id="second" style="background:rgb(245, 144, 51);">
    </div>
    <div class="col" id="third" style="background:rgb(245, 233, 77);">
    </div>
    <div class="col" id="fourth" style="background:rgb(240, 53, 50);">
    </div>
  </div> -->
</div>

<div class="container-fluid" style="background:rgb(0, 24, 69);">
  <div class="row" style="height:100vh">
    <div class="col align-self-center">

      <div class="row">
        <div class="col">
            <canvas id="myChart"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col" style="text-align:center;">
          <button type="button" id="pi_number" class="btn btn-primary">Flow</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="height:100vh;background:rgb(34, 76, 135);">
  <div class="row">
    <div class="col">
      <div class="chart-container">
          <canvas id="secondChart"></canvas>
      </div>
    </div>
  </div>

  <div class="row align-items-end">
    <div class="col" style="text-align:center;">
      <button type="button" id="polarAdder" class="btn btn-primary">Just Click Here</button>
    </div>
  </div>
</div>

<!-- Will add functionality to guess a number of Pi at a certain range -->
<div class="container-fluid" style="background:black;color:white">
  <div class="row" style="height:100vh">
    <div class="col align-self-center">
      <div class="row">
        <div class="col align-self-center">
          <h1 id="secondtest" style="text-align:center;">Guess the Number at Pi index </h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form>
            <div class="form-group">
              <label for="formControlRange">Slide</label>
              <input type="range" class="form-control-range"  min="1" max="1000" id="formControlRange">
              <p id="teststuff"></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col align-self-center">

      <p style="text-align:center;"><span id="leftGuess" style="font-size:60px;opacity:.5">223</span><span id="middleGuess" style="font-size:100px;">3</span><span id="rightGuess" style="font-size:60px;opacity:.5">343</span>
      </p>

    </div>
  </div>
</div>
<!-- Begin Script Libraries -->
<script>
var slider = document.getElementById("formControlRange");
var output = document.getElementById("teststuff");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>
<script> var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: [],
        datasets: [{
            label: '0',
            // backgroundColor: 'rgb(90, 148, 223)',
            data: [],
            backgroundColor: function(context) {
              var index = context.dataIndex;
              var value = context.dataset.data[index];
              return value == 1 ? 'orange' :
              value == 2 ? 'blue':
              value == 3 ? 'purple':
              value == 4 ? 'rgb(221, 122, 51)':
              value == 5 ? 'brown':
              value == 6 ? 'brown':
              value == 7 ? 'brown':
              value == 8 ? 'brown':
              value == 9 ? 'brown':
              index % 2 ? 'blue' : 'green';
        }
        }
      ]
    },

    // Configuration options go here
    options: {
      legend: {
        display: false,
      },
      animation:{
        duration:5000,
      }
    }
});
</script>

<script> var ctx = document.getElementById('secondChart').getContext('2d');
 var second = new Chart(ctx, {
       data: {
        datasets: [{
            data: [3,1,4,],
        //     backgroundColor: function(context) {
        //       var index = context.dataIndex;
        //       var value = context.dataset.data[index];
        //       return value == 1 ? 'black' :
        //       value == 2 ? 'black':
        //       value == 3 ? 'white':
        //       value == 4 ? 'white':
        //       value == 5 ? 'yellow':
        //       value == 6 ? 'yellow':
        //       value == 7 ? 'yellow':
        //       value == 8 ? 'yellow':
        //       value == 9 ? 'yellow':
        //       index % 2 ? 'blue' : 'green';
        // },
        }],
    },

       type: 'polarArea',
       options: {
         legend: {
           display:false,
         },
         canvas: {
           responsive: true,
         },
       }

});
</script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
